#corner-ribbons {
  .ribbon-wrapper {
    width: 350px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    }

    .ribbon {
    font: bold 14px arial;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform:    rotate(-45deg);
    -ms-transform:     rotate(-45deg);
    -o-transform:      rotate(-45deg);
    position: relative;
    padding: 3px 0;
    left: -64px;
    top: 24px;
    width: 200px;
    color: #FFFFFF;
  }
}

.code {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #bd4147;
  background-color: #f7f7f9;
  border-radius: .25rem;
}

.cell-2 {
  @extend .pull-xs-left, .col-xl-6, .col-md-12;
}

.cell-3 {
  @extend .pull-xs-left, .col-xl-4, .col-sm-6, .col-xs-12;
}

.cell-4 {
  @extend .pull-xs-left, .col-xl-3, .col-md-6, .col-xs-12;
}

.cell-6 {
  @extend .pull-xs-left, .col-xl-2, .col-lg-3, .col-md-4, .col-sm-6, .col-xs-12;
}

