/* File: main.scss
 * Description: SASS stylesheet using Atomic CSS Methodology
 *   http://sass-lang.com/
 */

@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);

// Define SASS variables
$font-stack: 'Droid Sans Mono','Helvetica';
//colors
$black: #222222;
$blue: rgb(51, 122, 183);
$red: rgb(217, 83, 79);
$white: #FDFDFD;
//gray-scales
$lightergray: #FCFCFC;
$lightgray: #EEEEEE;
$light-gray: #D9D9D9;
$gray: #BFBFBF;
$gray-darkgray: #ADADAD;
$darkgray: #7D7D7D;
$darkergray: #484848;
//control-colors
$highlighted: $lightgray;

$margin-xs: 4px;
$margin-sm: 8px; //vertical margin
$margin-md: 12px;
$margin-lg: 16px;
$margin-xl: 32px;

$news-bar: 'Thursay at 2:00pm in room ';

//////////////////////////////////
// Begin default DOM tag styles //
//////////////////////////////////

body {
  font: 14px $font-stack !important;
  padding-top: 5rem;
  background: $white;
}

a {
  color: $blue;
  &:hover {
   cursor: pointer;
  }
}

p {
  text-align: left;
  margin: $margin-sm 0;
}

.card{
  overflow: hidden;
  padding: 0;
}

////////////////////////////////
// End default DOM tag styles //
////////////////////////////////

p.header {
  font-weight: bold;
  font-size: 1.25em;
  margin: $margin-xs 0;
}

@import 'assets/tables';
@import 'assets/media';
@import 'assets/atoms';

@import 'partials/navbar';
@import 'partials/index_page';
@import 'partials/join_page';
@import 'partials/project_banner';
@import 'partials/projects_page';
@import 'partials/project_page';
@import 'partials/photo_gallery_page';
@import 'partials/events_page';
@import 'partials/event_page';
@import 'partials/members_page';
@import 'partials/member_page';
@import 'partials/about';

@import 'imported';


////////////////////////////////////
// Begin explicit class/id styles //
////////////////////////////////////


.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.container-fluid
{
  max-width: 1300px;
}

.content>.row{
  padding-top: 32px;
}
//////////////////////////////////
// End explicit class/id styles //
//////////////////////////////////


//colors
.lightgray
{
  background: $lightgray;
}

#atoms {
  .member-cell {
    width: 100%;
    a.card {
      height: 96px;
      padding: 0;
    }
    a.card:hover {
      background-color: $highlighted;
      text-decoration: none;
    }
    img.img-avatar {
      margin: 15px 10px;
      float: left !important;
      border-radius: 50%;
    }
    .member-text {
      padding: 10px 0;
    }
  }
  .member-cell.grid {
    float: left;
    width: 330px;
    a.card {
      margin: 0 .75rem .75rem 0;
    }
  }
  .member-cell.grid.col-3 {
    width: 33%;
  }
  .member-cell.grid.col-2 {
    width: 50%;
  }
  //Generic-cell
  .project-cell {
    float: left;
    width: 100%;
    a.card:hover {
      background-color: $highlighted;
      text-decoration: none;
    }
    .nMebers {
      position: absolute;
      top: $margin-md;
      right: $margin-md;
      text-align: right;
    }
  }
  //Generic-cell
  .event-cell {
    float: left;
    width: 100%;
    height: 25%;
    a.card:hover {
      background-color: $highlighted;
      text-decoration: none;
    }
    .date {
      position: absolute;
      top: $margin-md;
      right: $margin-md;
      text-align: right;
    }
  }
}
