/* File: main.scss
 * Description: SASS stylesheet using Atomic CSS Methodology
 *   http://sass-lang.com/
 */

@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);

// Define SASS variables
$font-stack: 'Droid Sans Mono','Helvetica';
$black: #222222;
$blue: rgb(51, 122, 183);
$red: rgb(217, 83, 79);
$white: #FDFDFD;
$lightergray: #FCFCFC;
$lightgray: #EEEEEE;
$light-gray: #D9D9D9;
$gray: #BFBFBF;
$gray-darkgray: #ADADAD;
$darkgray: #7D7D7D;
$darkergray: #484848;

$margin-xs: 4px;
$margin-sm: 8px;
$margin-lg: 16px;
$margin-xl: 32px;

$news-bar: 'Thursay at 2:00pm in room ';

//////////////////////////////////
// Begin default DOM tag styles //
//////////////////////////////////

body {
  font: 14px $font-stack !important;
  padding-top: 5rem;
  background: $white;
}

a {
  color: $blue;
  &:hover {
   cursor: pointer;
  }
}

p {
  text-align: left;
  margin: $margin-sm 0;
}

.card{
  overflow: hidden;
  padding: 0;
}

////////////////////////////////
// End default DOM tag styles //
////////////////////////////////

p.header {
  font-weight: bold;
  font-size: 1.25em;
  margin: 0;
}

@import 'partials/project_banner';
@import 'partials/navbar';
@import 'partials/members_page';
@import 'partials/member_page';
@import 'partials/projects_page';
@import 'partials/project_page';
@import 'partials/index_page';
@import 'partials/testing_page';


////////////////////////////////////
// Begin explicit class/id styles //
////////////////////////////////////


.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.container-fluid
{
  max-width: 1300px;
}

.content>.row{
  padding-top: 32px;
}
//////////////////////////////////
// End explicit class/id styles //
//////////////////////////////////


//colors
.lightgray
{
  background: $lightgray;
}
