.col-md-6.project-banner
  .row.card.secondary-project
    .col-lg-12.project-banner-img
      img.img-fluid(src='images/projects/' + project.title.toLowerCase() + '/cover.jpg')
      .project-cell
        h4.project-cell-status= project.status
        h4.project-cell-tasks 3/11
        p= helper.pluralize('member', project.members.length, true)
      .project-headline
        h1= project.title
      a.link(href='/projects/' + project.id )
