#top-news
  .col-lg-12
    h1 Top News
    .row.card
      .col-lg-12
        a(href='https://docs.google.com/forms/d/e/1FAIpQLScjanmLd854IgWnLAepMkKqZDgwuTvMdHCHVON1s0MkgVnt4g/viewform' target='_blank')
          h2 Cast in your votes for the Board Member Elections!
          p Poll will close Tuesday October 11, at 3pm
    hr
