#top-news.row
  .col-lg-12
    h1 Top News
    .row.card
      .col-lg-12
        h2 Project Updates
        //TODO DATE
        span Feb 16, 11:18am
        hr
        h4 Workshops
        span Be on the look out for scheduled workshops for the <a href="/projects/1">CS Website</a>, Club App, Line-Follower, and the Game Development!
        hr
        h4 New Officers
        each member in canidates
          - member.role = member.election
          #atoms.cell-3
            .member-cell
              include ./../atoms/member-cell
    hr
