#top-news.row
  .col-lg-12
    h1 Top News
    .row.card
      .col-lg-12
        h2 Project Updates
        span Nov 7, 9:45pm
        hr
        h4 Line-Follower
        span Kicking off the project with a defined parts list, which will be discussed in the <a href="https://checkvist.com/checklists/559794">next meeting</a> this Tuesday, Nov 8th at 3:30pm on discord. This list will be finalized by the end of Monday's meeting next week
        hr
        h4 CS Website
        span Finishing up with the final touches of our website, we're now planning on implenting the backend of our website! #excited
    hr
