#top-news.row
	.col-lg-12
		h1 Top News
		span March 3, 10:30pm
		.row.card
			.col-lg-12
				h2 Events
				span Rohnert Park's Make-a-thon is March 4! Check it out <a href="https://www.eventbrite.com/e/2017-north-bay-make-a-thon-tickets-30366123894?aff=es2">here</a>
				hr
				h2 Project Updates
				hr
				h4 Workshops
				span Check out scheduled workshops for the <a href="/projects/1">CS Website</a>, <a href="/projects/9">Club App</a>, and the <a href="/projects/7">SRJC Scheduler</a> in the <a href="https://calendar.google.com/calendar/embed?src=srjc.computer.science.club%40gmail.com&ctz=America/Los_Angeles" target="_blank">club calendar</a>!
		hr
