#top-news.row
  .col-lg-12
    h1 Top News
    .row.card
      .col-lg-12
        h2 Project Updates
        span Feb 5, 6:45pm
        hr
        h4 Projects Poll is here!
        span Almost; DM Erick to add your idea to the poll. Reposnses will be counted during the next week's meeting.<br>Here's the <a href='https://docs.google.com/forms/d/e/1FAIpQLScLUGEssR1RSGOzNbjIJlkvhuxTWXnz5M9psCFRCiHp5LYVmA/viewform'>link</a>
        hr
        h4 New Officers
        each member in canidates
          include ./../atoms/member-cell
    hr
