#top-news.row
  .col-lg-12
    h1 Top News
    .row.card
      .col-lg-12
        h2 Project Updates
        //TODO DATE
        span Feb 22, 10:38pm
        hr
        h4 Workshops
        span Be on the look out for scheduled workshops for the <a href="/projects/1">CS Website</a>, <a href="/projects/9">Club App</a>, and the <a href="/projects/8">Game Development</a>!
        hr
        h4 New Officers
        each member in canidates
          - member.role = member.election
          #atoms.cell-3
            .member-cell
              include ./../atoms/member-cell
    hr
