.col-md-12.project-banner
	.row.card
		.col-lg-9.project-banner-img
			img.img-fluid(src= 'images/projects/' + project.title.toLowerCase() + '/banner.jpg')
			h1.project-banner-headline= project.title
			.project-cell
				h3 most recent post
				p.status= project.status	
			a.link(href='/projects/' + project.id )
		.col-lg-3.project-banner-description
			include ./_homepage_project_cell-content-picker
