#top-news
  .col-lg-12
    h1 Top News
    .row.card
      .col-lg-12
        a(href='https://drive.google.com/file/d/0B3wyRcLxpH4jRWFyOWFvQkVjUXc/view?usp=sharing' target='_blank')
          h2 The Results are in!
        each member in canidates
          .project-member.card
            img.img-circle.pull-xs-left(src='http://placehold.it/64x64/77cb6f')
            .project-member-text
              //name
              h6= member.first_name + " " + member.last_name
              p= member.election
    hr
