#join.row
	.col-sm-12
		.row.card
			.col-sm-12
				h1 WANT TO JOIN THE CLUB
		.row
			.col-sm-6
				.row.card
					a(href='#' target='_blank').col-sm-12
						h3 ATTEND A MEETING
						img.img-fluid(src='http://placehold.it/600x164/fffff')
			.col-sm-6
				.row.card
					a(href='https://srjccsc.slack.com/' target='_blank').col-sm-12
						h3 SIGNUP FOR SLACK
						img.img-fluid(src='http://placehold.it/600x164/fffff')
		.row.card
			.col-sm-12
				h2 DONE!
				p once joined, you will be informed about <a href='/projects'>projects</a>
				p.small no real requirments to join, internet is a plus though :)
hr
