#top-news.row
  .col-lg-12
    h1 Top News
    .row.card
      .col-lg-12
        h3 New Update
        span sign up using our <a href='/join'>form</a> and quickly get into programming before you even attend the weekly meeting!
    hr
