#top-news.row
  .col-lg-12
    h1 Top News
    .row.card
      .col-lg-12
        h2 Project Updates
        span Feb 5, 6:45pm
        hr
        h4 Projects Poll is here!
        span Link <a href="https://docs.google.com/forms/d/e/1FAIpQLScLUGEssR1RSGOzNbjIJlkvhuxTWXnz5M9psCFRCiHp5LYVmA/viewform">here</a>. Reposnses will be counted during the next week's meeting.
        span Link to the doodle workshops <a href="https://docs.google.com/document/d/1UMuyoU8r51UvzUwmkZd_XSZ8D9lveuSs-1Swl9sfqz4/edit?usp=sharing">here</a>.
        hr
        h4 New Officers
        each member in canidates
          include ./../atoms/member-cell
    hr
