#join.row
	.col-sm-12
		.row.card
			.col-sm-12
				h1 WANT TO JOIN THE CLUB
		.row
			.col-sm-6.card
				a(href='#news-bar').col-sm-12
					img.img-fluid(src='images/icons/maggini-icon-bnr.png')
					h3 ATTEND A MEETING
			.col-sm-6.card
				a(href='https://srjccsc.slack.com/' target='_blank').col-sm-12
					img.img-fluid(src='images/icons/slack-icon-bnr.png')
					h3 SIGNUP FOR SLACK
		.row.card
			.col-sm-12
				h2 DONE!
				p once joined, you will be informed about <a href='/projects'>projects</a>
				p.small no real requirments to join, internet is a plus though :)
hr
