#footer
	- var LINK_MINUTES = "https://drive.google.com/file/d/0B3wyRcLxpH4jb1MwdjVmVk9LSWM/view?usp=sharing";
	- var LINK_AGENDA_PUB = "https://docs.google.com/document/d/1gDxVrpLvZrMWSPhfhb0oYvQ9WCG7G-xqqPYCwtd8b7k/pub";
	.foot-wrapper-1
		.row.links
			.col-md-4
				p Projects
				ul
					li
						a(href='/projects/1') CS Website
					li
						a(href='/projects/9') Club App
					li
						a(href='/projects/7') SRJC Scheduler
					li
						a(href='/projects/5') Line Follower
					li
						a(href='/projects') List of projects...
				p
					a(href='/events') Events
			.col-md-4
				p Members
				ul
					li
						a(href='/members/1') President
					li
						a(href='/members/12') Vice-President
					li
						a(href='/members/20') Treasurer
					li
						a(href='/members/2') Secretary
					li
						a(href='/members') List of Club Members...
			.col-md-4
				p Quick links
				ul
					li
						a(href='/') Homepage
					li
						a(href='/projects') Projects Page
					li
						a(href='/members') Members Page
					li
						a(href='/events') Events Page
					li Contact Us Page
					li
						a(href='/about') About Page
	.foot-wrapper-2
		.row.news-bar(id='news-bar')
			.col-sm-12
				a(href=LINK_AGENDA_PUB target='_blank')= "This week's meeting: " + "Mondays at 5:00pm in room 2806 of Maggini Hall"
	.foot-wrapper-3
		.row.news-subbar
			.col-sm-12
				p
					a(href=LINK_MINUTES target='_blank')= "Here is last week's minutes"
	.foot-wrapper-4
		.row.about
			.col-sm-12
				h4 About this site
