#footer
  .foot-wrapper-1
    .row.links
      .col-md-4
        p Projects
        ul
          li
            a(href='/projects/1') CS Website
          li
            a(href='/projects/5') Line Follower
          li
            a(href='/projects/6') Retailer
          li
            a(href='/projects') List of projects...
        p
          a(href='/events') Events
      .col-md-4
        p Members
        ul
          li
            a(href='/members/2') President
          li
            a(href='/members/4') Vice-President, Second ICC Rep
          li
            a(href='/members/5') Treasurer
          li
            a(href='/members/3') ICC Repersentative
          li
            a(href='/members') List of Club Members...
      .col-md-4
        p Quick links
        ul
          li
            a(href='/') Homepage
          li
            a(href='/projects') Projects Page
          li
            a(href='/members') Members Page
          li
            a(href='/members') Events Page
          li
            a(href='#') Contact Us Page
          li
            a(href='/about') About Page
  .foot-wrapper-2
    .row.news-bar(id='news-bar')
      .col-sm-12
        p
          a(href='https://checkvist.com/checklists/559794' target='_blank')= "This week's meeting: " + "Monday at 5:00pm in room 2923 of Maggini Hall"
  .foot-wrapper-3
    .row.news-subbar
      .col-sm-12
        p
          a(href='https://drive.google.com/open?id=0B3wyRcLxpH4jdWNTQzZMTWdtRjQ' target='_blank')= "Here's the link to last week's notes"
  .foot-wrapper-4
    .row.about
      .col-sm-12
        h4 About this site
