#footer
  .foot-wrapper-1
    .row.links
      .col-md-4
        p Projects
        ul
          li
            a(href='/projects/1') CS Website
          li
            a(href='/projects/8') Dreamscape
          li
            a(href='/projects/9') Club App
          li
            a(href='/projects/5') Line Follower
          li
            a(href='/projects') List of projects...
        p
          a(href='/events') Events
      .col-md-4
        p Members
        ul
          li
            a(href='/members/2') President
          li
            a(href='/members/1') Vice-President, Second ICC Rep
          li
            a(href='/members/4') Treasurer
          li
            a(href='/members/4') ICC Repersentative
          li
            a(href='/members') List of Club Members...
      .col-md-4
        p Quick links
        ul
          li
            a(href='/') Homepage
          li
            a(href='/projects') Projects Page
          li
            a(href='/members') Members Page
          li
            a(href='/members') Events Page
          li
            a(href='#') Contact Us Page
          li
            a(href='/about') About Page
  .foot-wrapper-2
    .row.news-bar(id='news-bar')
      .col-sm-12
        p
          a(href='https://docs.google.com/document/d/1OxoCXOk5lXEZxDScxwZ-YFfAHejN2z4bYthLIlOcBrY/pub' target='_blank')= "This week's meeting: " + "Fridays at 11:00am in room 2806 of Maggini Hall"
  .foot-wrapper-3
    .row.news-subbar
      .col-sm-12
        p
          a= "Last week's meeting notes are to be published soon"
  .foot-wrapper-4
    .row.about
      .col-sm-12
        h4 About this site
