#footer.row
  .col-sm-12
    .row.links
      .col-md-4
        p Projects
        ul
          li 
            a(href='') list of top projects
          li
            a(href='') Project Leads
          li 
            a(href='/projects') More..
        p
          a(href='') Events
      .col-md-4
        p Members
        ul
          li
            a(href='') list of board Members
          li
            a(href='') list of Project Leads
          li
            a(href='/members') List of All Club Members
      .col-md-4
        p Quick links
        ul
          li
            a(href='/') Homepage
    .row.news-bar(id='news-bar')
      .col-sm-12
        p= "This week's meeting: " + "Thursday at 2:00pm in room 2806 of Maggini Hall"
    .row.about
      .col-sm-12
        h4 About this site
