#footer
	- var LINK_MINUTES = "https://drive.google.com/file/d/0B3wyRcLxpH4jSXBNMGEyWnJNUmc/view?usp=sharing";
	- var LINK_AGENDA_PUB = "https://docs.google.com/document/d/1ufh2-7ewaO9Z8iVIWtT9ufoDWJ1AsNw2p-gfqCBGeqo/pub";
	.foot-wrapper-1
		.row.links
			.col-md-4
				p Projects
				ul
					li
						a(href='/projects/1') CS Website
					li
						a(href='/projects/9') Club App
					li
						a(href='/projects/7') SRJC Scheduler
					li
						a(href='/projects/5') Line Follower
					li
						a(href='/projects') List of projects...
				p
					a(href='/events') Events
			.col-md-4
				p Members
				ul
					li
						a(href='/members/2') President
					li
						a(href='/members/1') Vice-President, Second ICC Rep
					li
						a(href='/members/4') Treasurer
					li
						a(href='/members/4') ICC Representative
					li
						a(href='/members') List of Club Members...
			.col-md-4
				p Quick links
				ul
					li
						a(href='/') Homepage
					li
						a(href='/projects') Projects Page
					li
						a(href='/members') Members Page
					li
						a(href='/members') Events Page
					li
						a(href='#') Contact Us Page
					li
						a(href='/about') About Page
	.foot-wrapper-2
		.row.news-bar(id='news-bar')
			.col-sm-12
				p
					a(href=LINK_AGENDA_PUB target='_blank')= "This week's meeting: " + "Fridays at 11:00am in room 2806 of Maggini Hall"
	.foot-wrapper-3
		.row.news-subbar
			.col-sm-12
				p
					a(href=LINK_MINUTES target='_blank')= "Here are last week's minutes"
	.foot-wrapper-4
		.row.about
			.col-sm-12
				h4 About this site
