#footer
  .foot-wrapper-1
    .row.links
      .col-md-4
        p Projects
        ul
          li 
            a(href='') list of top projects
          li
            a(href='') Project Leads
          li 
            a(href='/projects') More..
        p
          a(href='') Events
      .col-md-4
        p Members
        ul
          li
            a(href='') list of board Members
          li
            a(href='') list of Project Leads
          li
            a(href='/members') List of All Club Members
      .col-md-4
        p Quick links
        ul
          li
            a(href='/') Homepage
  .foot-wrapper-2
    .row.news-bar(id='news-bar')
      .col-sm-12
        p
          a(href='https://checkvist.com/checklists/559794' target='_blank')= "This week's meeting: " + "Monday at 5:00pm in room 2923 of Maggini Hall"
  .foot-wrapper-3
    .row.news-subbar
      .col-sm-12
        p
          a(href='https://drive.google.com/open?id=0B3wyRcLxpH4jT0JjNy0wbEx5eWc' target='_blank')= "Here's the link to last week's notes"
  .foot-wrapper-4
    .row.about
      .col-sm-12
        h4 About this site
