mixin links()
	li.nav-item(class= navbar.active == 'home' ? 'active' : '')
		a.nav-link(href='/') Home
	li.nav-item(class= navbar.active == 'projects' ? 'active' : '')
		a.nav-link(href='/projects') Projects
	li.nav-item(class= navbar.active == 'events' ? 'active' : '')
		a.nav-link(href='/events') Events
	li.nav-item(class= navbar.active == 'members' ? 'active' : '')
		a.nav-link(href='/members') Members
	li.nav-item(class= navbar.active == 'contact' ? 'active' : '')
		a.nav-link(href='#') Contact
	li.nav-item(class= navbar.active == 'about' ? 'active' : '')
		a.nav-link(href='/about') About
		
.hidden-sm-down
	nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
		.nbw2
			.navbar-wrapper
				a.navbar-brand(href='/')= title
				ul.nav.navbar-nav.float-xs-right
					mixin links()
.hidden-md-up
	nav.navbar-mobile.navbar-fixed-top.navbar-dark.bg-inverse
		.nbw2
			.navbar-wrapper
				a(href='/')
					img.thumb(src='/images/icons/logo-64@2x.png' style="width: 52px; height: 52px;")
				button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar-collapse" aria-controls="navBar-collapse" aria-expanded="false" aria-label="navBar-control")
					span(aria-hidden="false").glyphicon.glyphicon-menu-hamburger Menu
				.navbar-mobile-secondary.collapse(id="navBar-collapse")
					mixin links()
					
.hidden-sm-down
	nav.navbar.navbar-fixed-top.navbar-dark.navbar-secondary
		.nbw2
			.navbar-wrapper
				ul.nav.navbar-nav.float-xs-right
					each link, index in navbar.links
						li.nav-item(class= link.active === true ? 'active' : '')
							a.nav-link(href=link.url)= link.name
