nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
	.nbw2
		.navbar-wrapper
			a.navbar-brand(href='#')= title
			ul.nav.navbar-nav.pull-xs-right
				li.nav-item.active
					a.nav-link(href='#') Home
				li.nav-item
					a.nav-link(href='./projects') Projects
				li.nav-item
					a.nav-link(href='#') Contact
nav.navbar.navbar-fixed-top.navbar-dark.navbar-secondary
	.nbw2
		.navbar-wrapper
			ul.nav.navbar-nav.pull-xs-right
				li.nav-item.active
					a.nav-link(href='#') Top News
				li.nav-item
					a.nav-link(href='#') Join the Club
				li.nav-item
					a.nav-link(href='#') Featured Projects
				li.nav-item
					a.nav-link(href='#') Recent Events