nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
	.nbw2
		.navbar-wrapper
			a.navbar-brand(href='/')= title
			ul.nav.navbar-nav.pull-xs-right
				li.nav-item(class= navbar.active == 'home' ? 'active' : '')
					a.nav-link(href='/') Home
				li.nav-item(class= navbar.active == 'projects' ? 'active' : '')
					a.nav-link(href='/projects') Projects
				li.nav-item(class= navbar.active == 'members' ? 'active' : '')
					a.nav-link(href='/members') Members
				li.nav-item(class= navbar.active == 'contact' ? 'active' : '')
					a.nav-link(href='#') Contact
				li.nav-item(class= navbar.active == 'about' ? 'active' : '')
					a.nav-link(href='#') About
nav.navbar.navbar-fixed-top.navbar-dark.navbar-secondary
	.nbw2
		.navbar-wrapper
			ul.nav.navbar-nav.pull-xs-right
				each link, index in navbar.links
					li.nav-item(class= link.active === true ? 'active' : '')
						a.nav-link(href=link.url)= link.name
			.row
				.col-sm-12
					.hidden-sm-up
						p xs mobile 
					.hidden-xs-down.hidden-md-up
						p sm mobile landscape 
					.hidden-sm-down.hidden-lg-up
						p md tablet 
					.hidden-md-down.hidden-xl-up
						p lg desktop 
					.hidden-lg-down
						p xl HD desktop 
