.col-lg-4.col-md-6
	.row.card
		.col-lg-12.project-banner-img
			img.img-crop(src='http://placehold.it/1000x250/a5c3dc')
			h1.project-banner-headline Project Name
		.col-lg-12.project-banner-description.card-block
			p This project is the best project