.col-md-12(ng-repeat="project in projects")
	.row.card
		.col-lg-9.project-banner-img
			img.img-fluid(src='http://placehold.it/1000x250/e5be90')
			h1.project-banner-headline {{project.name}}
		.col-lg-3.project-banner-description.card-block
			p {{project.name + project.description}}
