.row.project-banner
	.col-sm-12.card
		.row.lightgray
			.col-lg-9.project-banner-img
				img(src='http://placehold.it/1000x250/e5be90')
				h1.project-banner-headline Project Name
			.col-lg-3.project-banner-description
				p This project is the best project
