.row
	.col-lg-12
		h2 The Team
		.row
			#atoms.col-lg-12
				each member in project.members
					.member-cell.grid.col-3.hidden-md-down
						include ../atoms/member-cell
					.member-cell.grid.col-2.hidden-lg-up.hidden-xs-down
						include ../atoms/member-cell
					.member-cell.hidden-sm-up
						include ../atoms/member-cell
hr
