.col-md-6(ng-repeat='member in project.members')
	.project-member.card
		img.img-circle.pull-xs-left(src='http://placehold.it/64x64/77cb6f')
		.project-member-text
			//name
			h6 {{member}}
			//role
			p Project Lead
