.row
	.col-md-10
		img.img-fluid(src='/images/projects/' + project.title.toLowerCase() + '/cover.jpg' style="width: 100%")
	.col-md-2
		each index in [1,2,3,4]
			.card(style='padding: 0')
				img.img-fluid(src='/images/projects/' + project.title.toLowerCase() + '/thumb' + index + '.jpg')
.row
	.col-xs-12
		p!= project.description

hr
