.row
	.col-xs-12
		h2 Events
		.timeline-container
			.timeline-arrow
			.timeline-body
				.timeline-entry-container
					.timeline-entry
						.timeline-content.card
							h4 Version 1.03 Added
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus odit vel, pariatur nulla, tenetur harum illum qui delectus perferendis alias officiis ducimus asperiores accusamus incidunt veritatis corporis aspernatur! Dicta, repudiandae.
				.timeline-entry-container
					.timeline-entry
						.timeline-content.card
							h4 New Pull Request on GitHub
							p   consectetur adipisicing elit. Voluptatibus odit vel, pariatur nulla, tenetur harum illum qui delectus perferendis alias officiis ducimus asperiores accusamus incidunt veritatis corporis aspernatur! Dicta, repudiandae.
				.timeline-entry-container
					.timeline-entry
						.timeline-content.card
							h4 New Member Joined
							p  Lorem ipsum dolor sitrendis alias officiis ducimus asperiores accusamus incidunt veritatis corporis aspernatur! Dicta, repudiandae.
				.timeline-entry-container
					.timeline-entry
						.timeline-content.card
							h4 Project Started
							p  Lorem ipsum dolor sitrendis alias officiis ducimus asperiores accusamus incidunt veritatis corporis aspernatur! Dicta, repudiandae.
			.timeline-bottom
