@import './node_modules/bootstrap/scss/bootstrap';

.scroll-y {
  overflow-y: auto;
  overflow-x: hidden;
}

.cell {
  @extend .card;
  >.context {
    padding: $margin-md $margin-lg;
    p {
      margin-bottom: 0;
    }
  }
}
a.cell {
  :hover {
    background-color: $highlighted;
  }
}

.table {
  
}
