@import './node_modules/bootstrap/scss/bootstrap';

.cell {
  @extend .card;
  >.context {
    padding: $margin-md $margin-lg;
    p {
      margin-bottom: 0;
    }
  }
}
a.cell:hover {
  text-decoration: none;
  background-color: $highlighted;
}
