extends layout-dashboard

block view
	#projects-page.content
		p My Projects
		- for (var i = 0; i < projects.length; i += 1)
			- var project = projects[i];
			- var lastProject = (i != 0) ? projects[i -1] : undefined;
			- var canCRUD = token.role == 1 || project.admin == true;
			- if (i == 0 && project.admin == false || i != 0 && project.admin == false && lastProject.admin == true)
				p Other projects
			.project-cell
				.context
					.project-controls.pull-xs-right
						a(href= "projects/" + project.id) view
						a(href= "edit/" + project.id class= canCRUD ? "" : "disabled") admin
						a(class= project.isMember ? "remove" : "")= project.isMember ? "Unjoin" : "Join"
					p.header= project.title
					p= helper.pluralize('member', project.members.length, true)
					p= project.description_short
