extends layout

block content
  #index-page.content
    include ./partials/homepage/_homepage_top_news
    include ./partials/homepage/_homepage_join_club_banner
    include ./partials/homepage/_homepage_project_spotlight
