extends layout

block content
	#index-page.content
		#top-news.row
			.col-lg-12
				h1 Top News
				span March 31, 10:52pm
				.row.card
					.col-lg-12
						h2 Pictures!
						span Take a look at us in the <a href="/members">members page</a> as well as the <a href="/about">about page</a>!
						h2 Project Updates
						h4 <a href="/projects/5">Line Follower</a>
						span Be sure to keep in touch if you're planning on attending the RoboGames event with the club on Sunday, April 23rd.
						h2 Events
						span The Keysight tour is on! Attend the meeting time for more details.
		hr
		#join.row
			.col-sm-12
				.row.card
					.col-sm-12
						h1 WANT TO JOIN THE CLUB
				.row
					.col-sm-6.card
						a(href='#news-bar').col-sm-12
							img.img-fluid(src='images/icons/maggini-icon-bnr.png')
							h3 ATTEND A MEETING
					.col-sm-6.card
						a(href='join').col-sm-12
							img.img-fluid(src='images/icons/slack-icon-bnr.png')
							h3 SIGNUP FOR SLACK
				.row.card
					.col-sm-12
						h2 DONE!
						p once joined, you will be informed about <a href='/projects'>projects</a>
						p.small no real requirments to join, internet is a plus though :)
		hr
		#project-spotlight.row(ng-controller="ProjectListController")
			.col-lg-12
				h1 Project Spotlight
				each project in projects
					include ./partials/homepage/_homepage_project_cell
		hr
