extends layout

block content
	#index-page.content
		#top-news.row
			.col-lg-12
				h1 Top News
				span August 17, 2017
				.row.card
					.col-xs-12
						h2 Welcome Day
						span Join as in the quad for Santa Rosa Junior College's Welcome Day. Check out what we got from bots to a beta testing video game, <a href="/projects/11">Space Junkies</a>.
						h2 Fall Semester
						span We will be meeting Fridays from 1:30pm to 3:30pm in Haggini Hall starting the first week of school, August 20th.
		hr
		#join.row
			.col-sm-12
				.row.card
					.col-sm-12
						h1 WANT TO JOIN THE CLUB
				.row
					.col-sm-6.card
						a(href='#news-bar').col-sm-12
							img.img-fluid(src='images/icons/maggini-icon-bnr.png')
							h3 ATTEND A MEETING
					.col-sm-6.card
						a(href='join').col-sm-12
							img.img-fluid(src='images/icons/slack-icon-bnr.png')
							h3 SIGNUP
				.row.card
					.col-sm-12
						h2 DONE!
						p once joined, you will be informed about <a href='/projects'>projects</a>
						p.small no real requirments to join, internet is a plus though :)
		hr
		#project-spotlight.row(ng-controller="ProjectListController")
			.col-lg-12
				h1 Project Spotlight
				each project in projects
					include ./partials/homepage/_homepage_project_cell
		hr
