extends layout

block content
	#index-page.content
		#top-news.row
			.col-lg-12
				h1 Top News
				span March 15, 6:20pm
				.row.card
					.col-lg-12
						h4 Guest Speaker
						span <a href="https://bd.santarosa.edu/staff/helder-sebastiao">Helder Sebastiao</a>, from the Entrepreneurship & Innovation program at the JC, will be speaking at our next meeting!
						h2 Project Updates
						h4 Workshops
						span Check out scheduled workshops for the <a href="/projects/1">CS Website</a>, <a href="/projects/9">Club App</a>, and the <a href="/projects/7">SRJC Scheduler</a> in the <a href="https://calendar.google.com/calendar/embed?src=srjc.computer.science.club%40gmail.com&ctz=America/Los_Angeles" target="_blank">club calendar</a>!
		hr
		#join.row
			.col-sm-12
				.row.card
					.col-sm-12
						h1 WANT TO JOIN THE CLUB
				.row
					.col-sm-6.card
						a(href='#news-bar').col-sm-12
							img.img-fluid(src='images/icons/maggini-icon-bnr.png')
							h3 ATTEND A MEETING
					.col-sm-6.card
						a(href='join').col-sm-12
							img.img-fluid(src='images/icons/slack-icon-bnr.png')
							h3 SIGNUP FOR SLACK
				.row.card
					.col-sm-12
						h2 DONE!
						p once joined, you will be informed about <a href='/projects'>projects</a>
						p.small no real requirments to join, internet is a plus though :)
		hr
		#project-spotlight.row(ng-controller="ProjectListController")
			.col-lg-12
				h1 Project Spotlight
				each project in projects
					include ./partials/homepage/_homepage_project_cell
		hr
