extends layout

block content
  .panel
    h1= title
    p Welcome to future home of the awesome #{title} website
  div#app

  include ./partials/_join_club_banner

  include ./partials/_project_spotlight


  script(src="/js/bundle.js")
