extends layout

block content
	#index-page.content
		#top-news.row
			.col-lg-12
				h1 Top News
				span May 5, 7:08pm
				.row.card
					.col-lg-12
						h2 Summer Meeting Times
						span Be sure to attend the next weekly meeting to take part of the decision! Projects over the summer will be competing in RoboGames, building up the club app, building up the MVP from Ludem Dare, launching the iOS team by recreating an app in the Apple AppStore and updating the website!
						h4 <a href="/projects/5">Line Follower</a>
						span 3rd place! Not bad. Check out the pictures <a href="/project-events/0/">here</a>
						h4 <a href="/projects/1/">CS Website</a>
						span New features like our club pictures, tutorials, and a list of capital are soon to be published!
		hr
		#join.row
			.col-sm-12
				.row.card
					.col-sm-12
						h1 WANT TO JOIN THE CLUB
				.row
					.col-sm-6.card
						a(href='#news-bar').col-sm-12
							img.img-fluid(src='images/icons/maggini-icon-bnr.png')
							h3 ATTEND A MEETING
					.col-sm-6.card
						a(href='join').col-sm-12
							img.img-fluid(src='images/icons/slack-icon-bnr.png')
							h3 SIGNUP FOR SLACK
				.row.card
					.col-sm-12
						h2 DONE!
						p once joined, you will be informed about <a href='/projects'>projects</a>
						p.small no real requirments to join, internet is a plus though :)
		hr
		#project-spotlight.row(ng-controller="ProjectListController")
			.col-lg-12
				h1 Project Spotlight
				each project in projects
					include ./partials/homepage/_homepage_project_cell
		hr
