extends layout

block content
	#index-page.content
		#top-news.row
			.col-lg-12
				h1 Top News
				span June 9, 2017 7:50pm
				.row.card
					.col-lg-12
						.row
							.col-xs-12
								each member in officers
									- member.role = member.election
									.cell-4
										include ./partials/atoms/member-cell
						.row
							.col-xs-12
								h2 Summer Meeting Times
								span Mondays, 5pm to 7pm room 2806 in Maginni Hall. Meetings have started <strong>June 19th</strong>.
								h4 Projects and Activities
								span The club has voted! A new project, the Firefighter Robot, will be taking part in the club's interest this summer semester. Also! the MIT Open course on <a href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-006-introduction-to-algorithms-fall-2011/index.htm">Introduction to Algorithms</a> will take part of the summer agenda
		hr
		#join.row
			.col-sm-12
				.row.card
					.col-sm-12
						h1 WANT TO JOIN THE CLUB
				.row
					.col-sm-6.card
						a(href='#news-bar').col-sm-12
							img.img-fluid(src='images/icons/maggini-icon-bnr.png')
							h3 ATTEND A MEETING
					.col-sm-6.card
						a(href='join').col-sm-12
							img.img-fluid(src='images/icons/slack-icon-bnr.png')
							h3 SIGNUP FOR SLACK
				.row.card
					.col-sm-12
						h2 DONE!
						p once joined, you will be informed about <a href='/projects'>projects</a>
						p.small no real requirments to join, internet is a plus though :)
		hr
		#project-spotlight.row(ng-controller="ProjectListController")
			.col-lg-12
				h1 Project Spotlight
				each project in projects
					include ./partials/homepage/_homepage_project_cell
		hr
