extends layout

block content
	#index-page.content
		#top-news.row
			.col-lg-12
				h1 Top News
				span August 17, 2017
				.row.card
					.col-xs-12
						h2 Fall Semester
						span Meetings are Fridays from 1:00pm to 3:00pm in Haggini Hall room 2802. Be sure to attend the next meeting to get in on the <a href="/projects">projects</a>.
						h2 Club Day!
						span Come check us out at club day Wednesday, from 10am to 2pm.
		hr
		#join.row
			.col-sm-12
				.row.card
					.col-sm-12
						h1 WANT TO JOIN THE CLUB
				.row
					.col-sm-6.card
						a(href='#news-bar').col-sm-12
							img.img-fluid(src='images/icons/maggini-icon-bnr.png')
							h3 ATTEND A MEETING
					.col-sm-6.card
						a(href='join').col-sm-12
							img.img-fluid(src='images/icons/slack-icon-bnr.png')
							h3 SIGNUP
				.row.card
					.col-sm-12
						h2 DONE!
						p once joined, you will be informed about <a href='/projects'>projects</a>
						p.small no real requirments to join, internet is a plus though :)
		hr
		#project-spotlight.row(ng-controller="ProjectListController")
			.col-lg-12
				h1 Project Spotlight
				each project in projects
					include ./partials/homepage/_homepage_project_cell
		hr
