extends layout

block content
  .panel
    h1= title
    p Welcome to future home of the #{title} website
  div#app

  include ./partials/_project_banner
  include ./partials/_project_banner
  include ./partials/_project_banner

  script(src="/js/bundle.js")
