extends layout

block content
  #join-page.content
    h1 Signing Up for Slack
    .row.card
      .col-xs-12
        .row
          .col-xs-12
            p Slack is our way of communicating, sharing and posting information professionally. Since Slack is divided up into channels, we require all of our members to help pass around critial information on this service in the appropriate channel( we also have a channel named random (: ). And with everyone on the same service, we can quickly share documents and links vs looking through threads of emails. <strong>Before inviting you to any of our other services, like Checkvist and GitHub, we require you to accept the invite to slack first.</strong>
        .row
          .col-lg-6
            h3 Our Form
            p This form is going through some fixing. Email using this to contact us; <a href="mailto:srjc.computer.science.club@gmail.com">srjc.computer.science.club@gmail.com</a>
            //- form(action='join/submit')
            //-   .form-group
            //-     p.header(for='email') Name
            //-     input.form-control(id='email' type='text' for='name' name='name' placeholder='Johny Appleseed')
            //-   .form-group
            //-     p.header(for='contact') Your Contact
            //-     input.form-control(id='contact' type='text' for='contact' name='contact' placeholder='e.g. email, Facebook Profile URL, phone number, etc.')
            //-   .form-group
            //-     p.header(for='message') Message (optional, but helpful)
            //-     textarea.form-control(id='message' name='message' rows='5' placeholder='e.g. list of skills, what interests you most, any new projects/ideas you would like to mention or services you would like to join')
            //-   input.btn.btn-success.btn-lg(type='submit' name='submit' value='Send Message')
          .col-lg-6
            h3 Something we do
            p.paragraph-block The Computer Science Club has brought many projects back to life like our new website or the srjc scheduler by adding new features and capabilities as well as welcoming new projects based on the interest from the club members. To make our projects grow and flourish, we strive on making ourselves known by posting flyers with QR Codes to our website, which Snapchat can scan. We welcome all project types such as web development, graphic design work, electrical/hardware engineering, custom software design, artificial intelligence and any idea or concept that includes collaborating code or assets such as code snippets, graphics and hardware parts.<br>The club wants to take part in achieving any idea from all skill levels ranging from beginning to expert! The club exposes members to begin their journey new tools and share a common convention that is used in the real world. We encourage members to exceed their boundaries by inviting them to participate in our weekly challenges, which includes a short code exercise, then shared with our fellow members.
