doctype html
html(ng-app="csApp")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		title= title
		link(href='/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
		link(href='/stylesheets/main.css', rel='stylesheet')
		//script(src="/angular/angular.js")
		
	body
		include ./partials/_navbar
		.container-fluid
			.starter-template(style="padding: 3rem 1.5rem 1rem;")
				block content
		include ./partials/_footer
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" crossorigin="anonymous")
