extends layout-lessons

block content
  #lessons-page.content
    h2= tutorial.title
    p= tutorial.description
    p.header Lessons
    each lesson in tutorial.lessons
      - if (lesson.isPublished)
        a(href="/resources/categories/" + category.id + "/" + tutorial.id + "/" + lesson.id).cell
          .context
            p.header=lesson.title
            p=lesson.description_short