extends layout

block content
	#project-page.content
		.row
			.col-md-9
				.project-title
					h1= project.title + " (" + project.status + ")"
			.col-md-3
				ul.project-quick-links-container
					each link, name in project.links
						li
							a(href=link)
								include partials/atoms/quick_link_icon
		include ./partials/project_page/_header
		include ./partials/project_page/_team_list
		include ./partials/project_page/_timeline
