extends layout

block content
	#project-page.content(ng-controller='ProjectPageController')
		.row
			.col-sm-9
				.project-title
					h1 {{project.title}}
			.col-sm-3
				ul.project-quick-links-container
					li(ng-repeat='(name,link) in project.links')
						a(href='{{link}}')
							include partials/atoms/quick_link_icon
		include ./partials/project_page/_photo_gallery
		include ./partials/project_page/_member_list
		.row
			.col-xs-12
				h2 Project History
