extends layout

block content
	#resources-page.content
		.row
			.col-md-4
				a.cell(href="/resources/categories")
					.context
						img(src="/images/icons/resources-tutorials.png")
						h2 Tutorials
				p Learn and understand the technolgies used in projects to best jump into a working project! Links to resources, recommended videos and playlists, as well as download source code can all be found here
			.col-md-4
				.cell(href="/resources/programs")
					.context
						img(src="/images/icons/resources-programs.png")
						h2 Programs
				p Find some helpful online programs and Santa Rosa Junior College certificates here.
			.col-md-4
				.cell(href="/resources/captial")
					.context
						img(src="/images/icons/resources-capital.png")
						h2 Captial
				p Browse through the equipment and resources the club has to offer and make available for our members to use in projects and services!
		span Administration documents <a href=https://docs.google.com/document/d/1YcBvUbLe0sLiQbxb5ppkPYkQxlLqq3gGalc1NXAFi8M/pub>here</a>