extends layout

block content
	#resources-page.content
		.row
			.col-md-4
				a.cell(href="resources/tutorials")
					.context
						h2 Tutorials
						img(src="/images/about-3.jpg")
				p Here's some stuff that's cool
			.col-md-4
				a.cell(href="resources/programs")
					.context
						h2 Programs
						img(src="/images/about-3.jpg")
				p Here's some stuff that's cool
			.col-md-4
				a.cell(href="resources/captial")
					.context
						h2 Captial
						img(src="/images/about-3.jpg")
				p Here's some stuff that's cool
		span Administration documents <a href=www.google.com>here</a>