extends layout

block content
  #submit-page.content
    .row
      .col-xs-12
        h1 Good Show
        p!= 'Thank you, ' + results.name + ' for taking interest in our club! Expect either to hear back from a club officer/project manager or recieve an invite to join <a href="https://srjccsc.slack.com/" target="_blank">Slack</a> and jump into talking to your fellow peers and programmers!'
        img(src='/images/icons/thumbs-up-1.png' alt='thumbs up')
    .row
      .col-xs-12
        a.btn.btn-success.btn-lg(href='/') Return to Homepage
        a(style='margin-left: 12px;' data-toggle="collapse" href="#showMessage" aria-expanded="false" aria-controls="collapseExample") show message
        .collapse(id="showMessage")
          .card.card-block
            p.header Name
            p= results.name
            p.header Contact
            p= results.contact
            p.header Message
            p= results.message
