each project in list_of_projects.top
	include ./_project_cell-detailed/_project_cell-detailed-top
each project in list_of_projects.secondary
	include ./_project_cell-detailed/_project_cell-detailed-secondary
each project in list_of_projects.archived
	include ./_project_cell-detailed/_project_cell-detailed-archived
