each project, i in projects
	if (i < 3)
		include ./_project_cell-detailed/_project_cell-detailed-top
	else if (i < 6)
		include ./_project_cell-detailed/_project_cell-detailed-secondary
	else
		include ./_project_cell-detailed/_project_cell-detailed-archived
		
