#about-page {
	.col-xs-12 {
		margin: $margin-sm 0;
	}
	.context-left, .context-right {
		h1 {
			margin-top: $margin-sm;
		}
	}
	@media (min-width: map-get($grid-breakpoints,lg)) { //apply only for lg and up
		.context-left {
			p, h1 {
				text-align: left;
			}
		}
		.context-right {
			p, h1 {
				text-align: right;
			}
		}
	}
}
