#dashboard-page {
	.sidebar {
		padding-right: 0;
		p.name {
			text-align: center;
		}
		.navbar {
			padding-top: $margin-md;
		}
		.list-group .list-group-item {
			text-align: left;
		}

	}
	#dashboard {
	}
	#projects-page {
		.disabled {
			cursor: not-allowed;
			color: $gray-darkgray;
			background-color: $highlighted;
		}
		.project-cell {
			@extend .cell;
			.project-controls {
				a {
					@extend .btn, .btn-primary;
					margin: auto $margin-sm;
				}
				a.remove {
					@extend .btn-danger;
				}	
			}
		}
	}
	#project-page {
		.image-cell {
			@extend .cell;
			img {
				height: 64px;
				width: 64px;
			}
			a {
				text-align: left;
			}
		}
	}
}
