#events-page {
	h2 {
		text-align: left;
	}
	.events {
		.event {
			// min-height: 96px;
			h3 {
				text-align: left;
			}
			.thumbnail {
				position: absolute;
				top: $margin-md;
				right: $margin-lg;
			}
		}
	}
}
