#index-page {
  #top-news {
  	.project-member {
  		text-align: left;
  		margin: 10px auto;
      width: 296px;
  		max-width: 300px;
      float: left;
  		img {
  			margin: 10px;
  		}
  		.project-member-text {
  			padding: 10px 0;
  		}
  	}
  }
  #join {
    .card {
      padding: $margin-sm;
    }
    h3 {
      bottom: 0;
      left: 0;
      right: 0;
      margin: $margin-lg 0 0;
    }
    p {
      text-align: center;
      font-size: 2em;

    }
    p.small {
      font-size: 1em;

    }

  }
  #project-spotlight {
    .project-cell {
      position: absolute;
      top: 0;
      right: 0;
      margin: $margin-sm;
      padding-right: 24px;
      h3, p {
        text-align: right;
      }
      p.status::after {
				position: absolute;
				content: '';
				width: 16px;
				height: 16px;
				right: 0;
				background: green;
				border-radius: 8px;
			}
    }
    #project-cell-content-picker {
      p {
        font-size: .75em;
      }

    }
    .link {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  #device-phone {
    .project-members, .project-status, .project-post, .project-description {
    padding: $margin-sm 0;

    }
    .project-headline {
      background: $gray;
    }
    .project-members {
      background: $gray;
    }
    .project-status {
      background: $light-gray;
      background: green;
      color: white;
    }
    .project-post {
      background: $lightgray;

    }
    .project-description {
      background: $lightergray;

    }
    .show-more {
      background: $lightergray;
      .images, .position-requests, .events {
        padding: $margin-sm 0;
      }
      .images {
        .carousel-indicators {
          bottom: -24px;
        }
        .carousel-indicators>li {
          width: 18px;
          height: 18px;
          border-radius: 0;
          background-color: $light-gray;
        }
        .carousel-indicators>li.active {
          width: 20px;
          height: 20px;
          border-radius: 0;
          background-color: black;
        }
        .carousel-item {
          padding: 0 $margin-lg;
          .col-sm-4 {
            padding: 0 $margin-sm;
          }
        }

      }
      .position-requests {
        .table td.title {
          font-weight: bold;
          text-align: left;
        }
      }
      .events {

      }

    }
    .project-banner-headline {
      margin: 0;
      padding-top: $margin-sm;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			font-weight: bold;
			font-size: 1.5em;
			color: black;
      background: linear-gradient(0, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    }
    .member {
      p {
        width: 24px;
        height: 24px;
        float: right;
        background: $gray-darkgray;
        border-radius: 30px;

        text-align: center;
        padding: $margin-xs;
        margin: $margin-xs 0 0 $margin-xs;
      }
    }
  }
}
#footer {
  .links {
    padding: $margin-xl $margin-lg;
    background-color: $lightgray;
    p {
      font-size: 18px;
      font-weight: bolder;

    }
    ul {
      list-style: none;
      padding: 0;
    }
  }
  .news-bar {
    padding: $margin-sm $margin-lg;
    background-color: rgb( 226, 226, 226);
    p {
      margin: 0;
    }

  }
  .news-subbar {
    padding: $margin-sm $margin-lg;
    background-color: rgb( 216, 216, 216);
    p {
      margin: 0;
    }

  }
  .about {
    padding: $margin-sm $margin-lg $margin-lg;
    background-color: rgb( 206, 206, 206);
    h4 {
      margin: 0;
    }
  }
}
