#index-page {
  #top-news {
  	.row.card {
      padding: $margin-xl 0;
    }
  }
  #join {
    .card {
      padding: $margin-sm;
    }
    h3 {
      bottom: 0;
      left: 0;
      right: 0;
      margin: $margin-lg 0 0;
    }
    p {
      text-align: center;
      font-size: 2em;

    }
    p.small {
      font-size: 1em;

    }

  }
  #project-spotlight {
    .row.card {
      margin-bottom: $margin-xl;
    }
    .project-cell {
      position: absolute;
      top: 0;
      right: 0;
      margin: $margin-sm;
      padding-right: 24px;
      h3, p {
        text-align: right;
      }
      p.status::after {
				position: absolute;
				content: '';
				width: 16px;
				height: 16px;
				right: 0;
				background: green;
				border-radius: 8px;
			}
    }
    #project-cell-content-picker {
      .table {
        margin-bottom: 0;
      }
      p {
        text-align: center;
        font-size: .75em;
        margin-bottom: 0;
      }
      margin-bottom: $margin-md;

    }
    .link {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  #device-phone {
    .project-members, .project-status, .project-post, .project-description {
    padding: $margin-sm 0;

    }
    .project-headline {
      background: $gray;
    }
    .project-members {
      background: $gray;
    }
    .project-status {
      background: $light-gray;
      background: green;
      color: white;
    }
    .project-post {
      background: $lightgray;

    }
    .project-description {
      background: $lightergray;

    }
    .show-more {
      background: $lightergray;
      .images, .position-requests, .events {
        padding: $margin-sm 0;
      }
      .images {
        .carousel-indicators {
          bottom: -24px;
        }
        .carousel-indicators>li {
          width: 18px;
          height: 18px;
          border-radius: 0;
          background-color: $light-gray;
        }
        .carousel-indicators>li.active {
          width: 20px;
          height: 20px;
          border-radius: 0;
          background-color: black;
        }
        .carousel-item {
          padding: 0 $margin-lg;
          .col-sm-4 {
            padding: 0 $margin-sm;
          }
        }

      }

    }
    .project-banner-headline {
      margin: 0;
      padding-top: $margin-sm;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			font-weight: bold;
			font-size: 1.5em;
			color: black;
      background: linear-gradient(0, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    }
    .member {
      p {
        width: 24px;
        height: 24px;
        float: right;
        background: $gray-darkgray;
        border-radius: 30px;

        text-align: center;
        padding: $margin-xs;
        margin: $margin-xs 0 0 $margin-xs;
      }
    }
  }
}
#footer {
  .links, .news-bar, .news-subbar, .about {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    padding: $margin-sm 6px;

  }
  .foot-wrapper-1 {
    margin: 0 auto;
    background-color: $lightgray;
    .links {
      p {
        font-size: 18px;
        font-weight: bolder;

      }
      ul {
        list-style: none;
        padding: 0;
        li {
          margin: $margin-xs 0;
        }
      }
    }
  }
  .foot-wrapper-2 {
    margin: 0 auto;
    background-color: rgb( 226, 226, 226);
    .news-bar {
      p {
        margin: 0;
      }

    }
  }
  .foot-wrapper-3 {
    margin: 0 auto;
    background-color: rgb( 216, 216, 216);
    .news-subbar {
      p {
        margin: 0;
      }

    }
  }
  .foot-wrapper-4 {
    margin: 0 auto;
    background-color: rgb( 206, 206, 206);
    .about {
      h4 {
        margin: 0;
      }
    }
  }
}
