#join-page {
  h1, p, input.btn.btn-success.btn-lg {
    text-align: left;
  }
  input.btn.btn-success.btn-lg {
    margin-bottom: $margin-lg;
  }
}

#submit-page {
  img {
    width: 50%;
    height: 50%;
    margin: $margin-lg;
  }
  a {
    margin-bottom: $margin-lg;
  }
  .collapse {
  }
}
