#members-page {
    #members-list {
        .card {
          margin: $margin-lg;
          padding: $margin-sm;
        }
        .avatar {
          display: inline-block;
          width: 96px;
          height: 96px;
          border-radius: 50%;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          background-image: url('http://placehold.it/230x100');
        }
        h1.member-name {
            text-align: left;
            font-size: 3em;
            font-weight: bold;
        }
        .quick-links {
          position: absolute;
          right: 0;
          top: 0;
          width: 25%;
          .links {
            float: right;
            img.links {
              float: left;
              width: 30px;
              height: 30px;
              background: $gray;
              border-radius: 15px;
              margin: $margin-xs;
            }
            span {
              float: left;
              text-align: right;
              margin: $margin-sm;
            }
          }
        }
    }
}
