#members-page {
  #members-list {
    .row {
      padding-top: 0;
    }
    a.card {
      padding: $margin-sm;
      min-height: 132px;
    }
    a.card:hover {
      background-color: $highlighted;
      text-decoration: none;
    }
    .avatar {
      position: absolute;
      top: 18px;
      left: $margin-sm +24px;
      width: 96px;
      height: 96px;
    }
    .member-info {
      margin-left: 142px;
    }
    h1.member-name {
        text-align: left;
        font-size: 3em;
        font-weight: bold;
    }
    .quick-links {
      position: absolute;
      top: $margin-md;
      right: $margin-md;
      margin-right: $margin-md;
      width: 25%;
      .links {
        float: right;
        img.links {
          float: left;
          width: 30px;
          height: 30px;
          background: $gray;
          border-radius: 15px;
          margin: $margin-xs;
        }
        span {
          float: left;
          text-align: right;
          margin: $margin-sm;
        }
      }
    }
    #device-phone {
      .avatar {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 auto;
        width: 132px;
        height: 132px;
      }
      p, h1 {
        padding: $margin-sm 0;
      }
      h1.member-name {
        text-align: center;
      }
      .nProjects {
        position: absolute;
        top: $margin-md;
        right: $margin-md;
        text-align: right;
        margin: 0;
        padding: $margin-xs $margin-sm;
        background-color: $lightgray;
        border-radius: 6px;

      }
      .quick-links {
        position: absolute;
        top: 42px;
        margin-right: $margin-md;
        width: 25%;
        .links {
          float: right;
          img.links {
            float: right;
            width: 24px;
            height: 24px;
            border-radius: 12px;
          }
          span {
            float: left;
            text-align: right;
            margin: 0;
          }
        }
      }
    }
  }
}
