#project-page {
	.project-member {
		text-align: left;
		margin: 10px auto;
		max-width: 300px;

		img {
			margin: 10px;
		}

		.project-member-text {
			padding: 10px 0;
		}
	}

	.project-title {
		text-align: left;
	}

	.project-quick-links-container {
		list-style-type: none;

		li {
			float: right;

			img {
				width: 42px;
				padding: 5px;
			}
		}
	}
}
