#project-spotlight {
	.project-banner {
		.project-banner-img {
			overflow: hidden;
			padding: 0;
		}

		.img-crop {
			width: 200%;
			margin-left: -50%;
		}

		.project-banner-headline {
			@media (min-width: map-get($grid-breakpoints,md)) { //apply only for md and up
				text-align: left;
			}
			font-weight: bold;
			font-size: 3em;
			color: #373a3c;

			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: linear-gradient(0, #fff, rgba(255,255,255,0));
			padding: $margin-md $margin-lg $margin-sm $margin-lg;
			margin-bottom: 0;
		}

		.project-banner-description {
			font-size: 1.5em;
			margin-top: $margin-lg;
		}
	}

	.card {
		background: $lightgray;
	}
}
