#resources-page {
	.context {
		overflow: hidden;
		position: relative;
		padding: 0;
		img {
			max-width: 100%;
			
			-moz-transition: all 0.3s;
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
		}
		img:hover {
			-moz-transform: scale(1.2);
			-webkit-transform: scale(1.2);
			transform: scale(1.1);
		}
		h2 {
			position: absolute;
			bottom: 0;
			width: 100%;
			color: white;
		}
		height: 232px;
	}
}
#categories-page {
	.category {
		@extend .cell-4;
		.cell {
			.context {
				height: 232px;
			}
			h2 {
				position: absolute;
				bottom: 0;
				width: 100%;
			}
		}
		margin: 0 auto;
	}
}
#tutorials-page {
	.tutorial {
		@extend .cell;
		.context {
			height: 64px;
			.difficulty {
				float: left;
				width: 32px;
				height: 100%;
				background-color: black;
			}
			a {
				float: left;
				margin: auto 0 auto $margin-lg;
			}
			.controls {
				@extend .pull-xs-right;
				* {
					display: inline;
					margin: auto $margin-sm;
				}
			}
		}
	}
	.tutorial-mobile {
		@extend .tutorial;
	}
}
#lessons-page {
	
}
#lesson-layout {
	.sidebar {
		padding-right: 0;
		p.name {
			text-align: center;
		}
		.navbar {
			padding-top: $margin-md;
		}
		.list-group {
			margin: $margin-md 0;
			.list-group-item {
				text-align: left;
			}
		}
	}
	.view {
		#lesson-page {

		}
	}
}