h3 Media
hr
each image in event.media
  - var source = image.image;
  - var url = image.url;
  .thumbnail-caption
    a(href=url target='_blank')
      img(src="/images/projects/"+event.project.title.toLowerCase()+"/events/"+source)
    figcaption= image.caption
