a(href='/members/'+ member.id).card.col-lg-3.col-md-4.col-sm-6
	img.img-avatar(src='http://placehold.it/64x64/77cb6f')
	.member-text
		p.header= member.first_name + " " + member.last_name
		p= member.role
