a(href='/members/'+ member.id)
	img(src=member.avatar ? member.avatar : "/avatars/" + member.first_name.toLowerCase() + "-" + member.id + ".jpg" onerror="this.src = 'http://placehold.it/77cb6f'")
	.member-text
		p.header= member.first_name + " " + member.last_name
		p= member.role
